/* Footer.css */

.Footer {
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    border: 1px solid #252327;

  }
  