:root {
	--primary-color: #151515; /* Primary color */
	--secondary-color: #b1b0b0; /* Secondary color */
	--background-color: #121212; /* Background color */
}

header {
	overflow: hidden;
	white-space: nowrap;
}


header {
	left: 0;
	top: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	z-index: 1000;
	border: 1px solid var(--primary-color);
	height: 80px;
	padding: 0 3%;
	background-color: var(--background-color);
	height: fit-content;
	width: 110%;
}

.navitems {
	color: var(--primary-color);
	text-decoration: none;
}

.navitems:hover {
	color: var(--secondary-color);
}

header .nav-btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	visibility: visible;
	opacity: 0;
	font-size: 1.8rem;
	padding-right: 15%;
}

header div,
nav {
	margin-left: 0px;
	display: inline;
}

nav {
	flex-grow: 1;
}

.navitems {
	display: inline-block;
	margin-left: 30px;
}

button {
	font-size: 20px;
	border: 2px solid var(--background-color);
	padding: 20px 20px;
	background-color: var(--background-color);
	color:  var(--secondary-color);
	cursor: pointer;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 10px;
}

button:hover {
	color: #e4e4e4;
}

.logo {
	cursor: pointer;
	height: 10vw;
	max-height: 70px;
	padding: 3%;
	width: 100%;
}

.contact_container{
	margin-left: 50%;
	@media only screen and (max-width: 1624px) {
		margin-left: 25%;
	}
}

.contact_button{
/* Inverted text color */background-color: #313131 !important;
	color: var(--secondary-color) !important;
	border-radius: 30px;
	padding: 20px;
}

.contact_button:hover {
	
	background-color: var(--secondary-color) !important; /* Inverted background color */
	color: #2c2833 !important; 
  }

@media only screen and (max-width: 1224px) {
	.contact_container{
		margin-left: 0%;
	}

	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--background-color);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

	header {
		height: auto;
	}

	.navitems {
		margin-right: 0;
	}

	button {
		font-size: 1.5rem;
		padding: 15px 15px;
	}

}
