  .sText-Area {
    color: var(--secondary-color);
    background-color: var(--primary-color); /* Light Blue Background Color */
    padding: 30px; /* Add padding for spacing */
    text-align: center; /* Center align text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #161616;
    width: 100%;


    @media only screen and (max-width: 768px) 
  {
    padding: 0px;
  }
  }

  
  
  h1{
    font-size:80px;
  }

  h2{
    font-size:30px;
    font-weight: 500;
  }



  /* Services.css */

.Page {
    display: flex;
    justify-content: center;
  }
  
  .sText-Area {
    text-align: center;
  }
  
  .Service-Item {
    margin: 50px; /* Add margin for spacing */
    width: 450px; /* Set a fixed width for each Service-Item */
    display: inline-block;
    vertical-align: top; /* Align items at the top */
    @media only screen and (max-width: 768px) 
    {
      width: 300px;
    }
  }
  
  .Service-Icon {
    width: 30%; /* Make the icon fill the width of its container */
  }
  
.Service-button{
	font-size: 20px;
	border: 2px solid var(--background-color);
	padding: 20px 20px;
	background-color: var(--background-color);
	color:  var(--secondary-color);
	cursor: pointer;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 10px;
}

.Service-button:hover{
  background-color: #1b1b1b;
}
