/* Contact.css */

.Contact-Page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  color: #2F204C;
  border: 1px solid #2F204c;
  background-color: #E8E6F6; /* Light Purple Background Color */
}

.Contact-body {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  @media only screen and (min-width: 768px) {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}

.Contact-Info {
  padding: 3%;
  width: 100%;
  @media only screen and (min-width: 768px) {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}

.Form {
  padding: 20px;
  padding-left: 35%;
  width: 30%; /* Default width for the form */
  margin-left: 20%; /* Default margin to center the form horizontally */

  /* Adjustments for mobile view */
  @media only screen and (max-width: 768px) {
    padding: 5px; /* Reduced padding for smaller screens */
    width: 80%; /* Adjusted width for smaller screens */
    margin-left: 3%; /* Adjusted margin for smaller screens */
  }
  
  @media only screen and (min-width: 768px) {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}


/* Style for the form elements */
label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2F204C;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input,
textarea {
  background-color: #E8E6F6;
  border-color: #000;
  width: 100%; /* Adjust width to fill the container */
  padding: 10px;
  margin-bottom: 15px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
}

.name {
  width: 45%;
  display: inline-block;
}



.Social-Media-Icons a {
  margin-right: 10px; /* Adjust margin for social media icons */
}

.tton {
  background-color: #2F204C !important;
  color: #E8E6F6 !important;
  border-radius: 0%;
  padding: 15px;
}

.tton:hover {
  background-color: #370757 !important;
  color: #E8E6F6 !important;
}

.cone{
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.title{
  padding-left: 3%;
}
h1{
  text-align: center;
}