/* Home.css */




body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #101010;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #363438;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #101010;  /* creates padding around scroll thumb */
}
  
  .Page {
    display: flex;
    color: #E8E6F6;
    background-color: #141414; /* Light Purple Background Color */
    padding: 30px; /* Add padding for spacing */
    text-align: center; /* Center align text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #363438;

    @media only screen and (max-width: 768px) 
  {
    padding: 2px;
  }
  }

  

  body{
    margin: 0 !important;
  }

  .img {
    flex: 1; /* Take up available space on the right */
    max-width: 40%; /* Ensure the image does not exceed its container */
  }

  
 

  h2{
    font-size:5rem !important; 
    font-weight: 100 !important;
    padding-right: 10%;
    padding-left: 10%;
    @media only screen and (max-width: 768px) 
    {
      font-size:3rem  !important;
    }
  }

  p{
    font-size: 20px;
    font-weight: 100;
    padding-left: 30%;
    padding-right: 30%;

    @media only screen and (max-width: 768px) 
    {
      padding: 15px;
      font-size: 15px;
    }
    
    
  }

  