/* Home.css */

.Page {
    display: flex;
    width: 100%;
  }
  
  .Text-Area {
    color: #2F204C;
    background-color: #D8E3F9; /* Light Purple Background Color */
    padding: 30px; /* Add padding for spacing */
    text-align: center; /* Center align text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #2F204c;

    @media only screen and (max-width: 768px) 
  {
    padding: 2px;
  }
  }



  .img {
    flex: 1; /* Take up available space on the right */
    max-width: 40%; /* Ensure the image does not exceed its container */
  }

  
  h1{
    font-size:70px  !important;
    @media only screen and (max-width: 768px) 
    {
      font-size:45px  !important;
    }
  }

  h2{
    font-size:30px;
    font-weight: 500;
    padding-right: 10%;
    padding-left: 10%;
    @media only screen and (max-width: 768px) 
    {
      font-size:25px  !important;
    }
  }

  p{
    font-size: 20px;
    font-weight: 500;
    padding-left: 30%;
    padding-right: 30%;

    @media only screen and (max-width: 768px) 
    {
      padding: 15px;
      font-size: 15px;
    }
    
    
  }

  