/* Contact.css */

.Contact-Page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  color: #E8E6F6; /* Light Purple Background Color */
  border: 1px solid #272727; /* Inverted border color */
  background-color:#141414; /* Inverted Background Color */
}

.Contact-body {
  align-items: center;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  @media only screen and (min-width: 768px) {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}



.Form {
  padding: 20px;
  padding-left: 35%;
  width: 30%; /* Default width for the form */
  margin-left: 20%; /* Default margin to center the form horizontally */

  /* Adjustments for mobile view */
  @media only screen and (max-width: 768px) {
    padding: 5px; /* Reduced padding for smaller screens */
    width: 80%; /* Adjusted width for smaller screens */
    margin-left: 3%; /* Adjusted margin for smaller screens */
  }
  
  @media only screen and (min-width: 768px) {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
}


/* Style for the form elements */
label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #E8E6F6; /* Inverted color */
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input,
textarea {
  color: #c4c4c4;
  background-color: #313131; /* Inverted background color */
  border: 2px solid #19181b;
  border-radius: 20px;
  width: 100%; /* Adjust width to fill the container */
  padding: 10px;
  margin-bottom: 15px;
  border-width: 2px;
  border-image: initial;
}

.name {
  width: 45%;
  display: inline-block;
}



.Social-Media-Icons a {
  margin-right: 10px; /* Adjust margin for social media icons */
}

.tton {
  background-color: #E8E6F6 !important; /* Inverted background color */
  color: #2c2833 !important; /* Inverted text color */
  border-radius: 30px;
  padding: 15px;
}

.tton:hover {
  background-color: #3c3641 !important;
  color: #E8E6F6 !important;
}

.cone{
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.title{
  padding-left: 3%;
  padding-top: 2%;
  @media only screen and (max-width: 1068px) {
    padding-top: 10%;
  }

}
h1{
  text-align: center;
}

.center-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack elements vertically */
  width: 100%; /* Ensure container takes full width */
}

p{
  padding: 0% !important;
}